body {
	text-align: center;
	color: #aaaaaa;
}

h1, h3 {
	padding: 15px;
	text-shadow: 5px 5px 5px #ff0000;
}

.container {
	background-image: url("../img/univers.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 880px;
	width: 100%;
}

#yourHoroscope {
	font-size: 20px;
	padding: 15px;
	text-shadow: 3px 3px 3px #ff1111;
}

#icon {
	margin: 0 auto;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.form-group label {
	font-size: 13px;
	text-shadow: 2px 2px 2px #ff0000;
}

.form-control {
	width: 150px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #ff0000;
}