body {
	text-align: center;
	color: #aaaaaa;
}

h1, h3 {
	padding: 15px;
	text-shadow: 5px 5px 5px #ff0000;
}

.container {
	background-image: url("../img/univers.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 800px;
	width: 100%;
}

#yourSign, #allSign label {
	font-size: 14px;
	color: #aaaaaa;
	-webkit-animation: mymove 3s infinite;
	animation: mymove 3s infinite;
}

#allSign label {
	font-size: 12px;
}

@-webkit-keyframes mymove {
	50% {text-shadow: 10px 10px 10px #ff0000;}
}
@keyframes mymove {
	50% {text-shadow: 10px 10px 10px #ff0000;}
}

#icon {
	margin: 0 auto;
	box-shadow: 15px 15px 15px black;
	border-radius: 25px 50px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.form-group label {
	font-size: 13px;
	text-shadow: 2px 2px 2px #ff0000;
}

.form-control {
	width: 150px;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	color: #ff0000;
}